.u-margin-left {
    margin-left: $margin-small;
}

.u-margin-bottom {
    margin-bottom: $margin-small;
}

.u-margin-bottom-medium {
    margin-bottom: $margin-medium;
}

.u-text-align-left {
    text-align: left;
}

.u-text-align-right {
    text-align: right;
}

.u-padding-right {
    padding-right: 20rem;
}

.u-padding-left {
    padding-left: 20rem;
}

.u-sticky {
    position: sticky;
    top: 0;
}

.u-divider {

    &--v {
        background-color: rgba($color-black, .5);
        height: 30rem;
        width: 100%;
    }

    &--h {
        background-color: rgba($color-black, .5);
        height: 100%;
        width: 100%;
    }
    
}

.u-display{

    &--off {
        display: none !important;
    }
}

@media (max-width: $mobile-break) {
    .u-divider {
        
        &--v {
            display: none;
        }
    }
}